/**
 * Custom styles to immediately follow Tailwind’s `components` layer
 *
 * “Add more opinionated, complex classes like buttons, form controls, alerts,
 * etc; the sort of pre-built components you often see in other frameworks that
 * you might need to override with utility classes.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-components
 */

#primary-menu {
	@apply flex gap-[1px] items-center
}
#primary-menu li a {
	@apply  px-4 py-2 tracking-[.25px]
}
#primary-menu li.current_page_item  a {
	@apply  text-[#ff7642]
}
#colophon li {
	@apply my-1
}
#colophon li a {
	@apply  py-1.5 block
}
#sectionCost {
	background-image: url('images/price_icon.svg');
	background-position: 50% 98%;
	background-repeat: no-repeat;
	background-size: 94%;
}
#need_bg {
	background-image: url(images/toneed.svg);
	background-position: 97% 100%;
	background-repeat: no-repeat;
	background-size: 43%;
}

.page-title,
.entry-title {
	@apply max-w-content mx-auto mb-6 text-3xl font-extrabold text-neutral-900;
}

.entry-content > .alignwide {
	/* Wide width from the `theme.json` file */
	@apply max-w-wide;
}
.entry-content p {
	@apply leading-[1.3];
}

.entry-content > .alignfull {
	@apply max-w-none;
}

.entry-content > .alignleft {
	@apply float-left mr-8;
}

.entry-content > .alignright {
	@apply float-right ml-8;
}
/*custom*/

.card-title, .card-description,.lines {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

*:focus-visible {
	outline: none !important;
}
.one-lines {
	-webkit-line-clamp: 1;
}
.two-lines {
	-webkit-line-clamp: 2;
}
.three-lines {
	-webkit-line-clamp: 3;
}
.six-lines {
	-webkit-line-clamp: 6;
}

.details, .program {
	transition: 0.3s;
	overflow: hidden;
}
/* Стрелка для закрытого состояния видима, открытая скрыта */
.program .arrow-icon {
	position: absolute;
	right: 30px;
	top: 36px;
	pointer-events: none;
}
.program:not([open]) .closed-arrow {
	opacity: 1;
}
.program:not([open]) .open-arrow {
	opacity: 0;
}

/* Стрелка для открытого состояния видима, закрытая скрыта */
.program[open] .closed-arrow {
	opacity: 0;
}
.program[open] .open-arrow {
	opacity: 1;
}

.details::after {
	position: absolute;
	content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIj4KPGNpcmNsZSBjeD0iMTIiIGN5PSIxMiIgcj0iMTIiIGZpbGw9IiNDRkM1RkYiLz4KPHBhdGggZD0iTTEyIDcuNjgwNjZWMTYuMzIwNyIgc3Ryb2tlPSIjMzkzNDg4IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8cGF0aCBkPSJNNy42Nzk2OSAxMkgxNi4zMTk3IiBzdHJva2U9IiMzOTM0ODgiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPg==");
	width: 24px;
	height: 24px;
	right: 30px;
	top: 23px;
	pointer-events: none;

}
.details[open]::after {
	transform: rotate(45deg);
}

.details[open] {
	background: #f2f1f9;
}
details[open] .big-title {
	margin-bottom: 14px;
}
details .big-title {
	margin-bottom: 0;
}

.details__title {
	list-style: none;
	transition: .3s;
}

.details__title::-webkit-details-marker {
	display: none;
}
.text_link_underline a {
	text-decoration: underline;
}
#popup iframe {
	width: 100%;
	height: 100%;
	min-height: 80vh;
	aspect-ratio: 16 / 9;
	object-fit: contain; /* Чтобы видео не выходило за границы */
}
.custom-underline {
	position: relative;
}
.custom-underline:after {
	content: "";
	position: absolute;
	bottom: -2px; /* Расстояние от текста до подчеркивания */
	left: 0;
	width: 100%;
	height: 2px;
	background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="124" height="2" viewBox="0 0 124 2" fill="none"%3E%3Cpath d="M1 1L123 1.00001" stroke="%23999999" stroke-linecap="round" stroke-dasharray="3%203"/%3E%3C/svg%3E');
	background-size: contain;
	background-repeat: no-repeat;
}
.dash-list ul {
	padding-left: 10px;
}
.dash-list ul li {
	position: relative;
	line-height: 1.3;
}

.dash-list ul li::before {
	content: "-";
	position: absolute;
	left: -10px;
	top: 0;
}
ul.vertical-dash>li {
	position: relative;
	padding-left: 20px; /* Отступ для маркера */
	padding-right: 20px; /* Отступ для вертикальной линии */
}
ul.vertical-dash>li:after  {
	content: ""; /* Пустое содержимое */
	position: absolute;
	left: 0;
	top: 10px;
	width: 14px;
	height: 14px;
	background-color: #FF7643; /* Цвет маркера */
	border-radius: 50%; /* Округлый маркер */
	border: 4px solid #fff;
	transform: translateY(-50%); /* Центрируем маркер по вертикали */
}
ul.vertical-dash>li:not(:last-child)::before {
	content: "";
	position: absolute;
	left: 6px; /* Расстояние от маркера */
	top: 10px;
	bottom: -10px;
	width: 2px;
	background-color: #999999; /* Цвет вертикальной черты */

}
.clouds {
	background-image: url(images/bg.webp);
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
}



@media (min-width: 640px) {

	#sectionCost {
		background-position: 91% 90%;
		background-repeat: no-repeat;
		background-size: min(45%, 300px);
	}
}
@media (min-width: 960px) {
	#sectionCost {
		background-position: 91% 90%;
		background-repeat: no-repeat;
		background-size: 45%;
	}
}
@media (max-width: 1024px) {
	.clouds {
		background-image: url(images/banner2.webp);
		background-position: left;
		background-repeat: no-repeat;
		background-size: contain;
	}
}
@media (max-width: 650px) {
	.clouds {
		background-image: url(images/banner_sm.webp);
	}
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
	content: '';
	width: 24px;
	height: 24px;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTYiIGN5PSIxNiIgcj0iMTYiIGZpbGw9IndoaXRlIi8+CjxwYXRoIGQ9Ik0xMS44NzUgMjQuMjVMMjAuMTI1IDE2TDExLjg3NSA3Ljc1IiBzdHJva2U9IiMzNzNGNDEiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==');
	background-repeat: no-repeat;
	background-size: contain;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
	content: '';
	width: 24px;
	height: 24px;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGNpcmNsZSBjeD0iMTYiIGN5PSIxNiIgcj0iMTYiIHRyYW5zZm9ybT0icm90YXRlKDE4MCAxNiAxNikiIGZpbGw9IndoaXRlIi8+CjxwYXRoIGQ9Ik0yMC4xMjUgNy43NUwxMS44NzUgMTZMMjAuMTI1IDI0LjI1IiBzdHJva2U9IiMzNzNGNDEiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==');
	background-repeat: no-repeat;
	background-size: contain;
}
