/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */

/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/
body {
	@apply text-foreground font-['Mulish'] text-[#373F41] bg-[#F2F1FA] text-[16px] leading-[1.2];
}
h1, h2, h3, h4, h5, h6 {
	@apply font-bold tracking-tight
}
h1 {
	@apply text-[#373f41] text-[24px] leading-[1.2] lg:text-3xl tracking-tight mt-10 mb-6
}
h2 {
	@apply text-[#373f41] text-[24px] leading-[1.2] lg:text-3xl tracking-tight mt-10 mb-6
}
h3 {
	@apply text-[18px] mt-0 mb-[14px] leading-[1.2] font-bold;
}
h2.big-title {
	@apply mt-0 text-[24px] leading-[1.2] font-bold mb-[18px];
}
.big-title  h2{
	@apply text-[23px] mt-0 mb-[14px] leading-[1.2] font-bold;
}
.big-title ul {
	list-style: disc;
	padding-left: 18px;
}
.big-title ul li {
	margin-bottom: 6px;
}
.big-title ul li:last-child {
	margin-bottom: 0;
}
.container {
	@apply !max-w-[1172px] px-5 sm:px-[38px] lg:px-[18px] mx-auto;
}
table th, table td {
	@apply py-2 border-2 border-white
}
table th {
	@apply px-[14px]
}
table td {
	@apply px-[14px] text-center
}
.p-bottom p {
	margin-bottom: 8px;
}
.p-last p:last-child {
	margin-bottom: 0;
}
